<div class="adv_block_wrap">
	<div class="c tl"><!-- --></div>
	<div class="c tr"><!-- --></div>
	<div class="c bl"><!-- --></div>
	<div class="c br"><!-- --></div>
	<div class="c t"><!-- --></div>
	<div class="c b"><!-- --></div>
	<div class="c l"><!-- --></div>
	<div class="c r"><!-- --></div>

	<div class="adv_block">
		<div class="block_header clearfix">
			<h2>Появились вопросы?</h2>
			<span class="date"></span>
		</div><br class="clear" />
		<div class="content">
			<p>Техническая поддержка:<br /> +7-923-417-6465 &mdash; Павел</p>
		</div>
	</div>
</div>