<div class="menu">
    <a href="{$gconfig.site_url}admin/" class="current">
        <span class="text-wrap">
            <span>Страницы сайта</span>
            <em>Страницы сайта</em>
        </span>
        <span class="l"><!-- --></span>
    </a>
    <div class="dropdown-wrap">
        <ul>
<!--            <li><a href="{$gconfig.site_url}admin/-deps/users">Пользователи</a></li>-->
            <li><a href="{$gconfig.site_url}admin/-deps/statistic">Статистика</a></li>
            <li><a href="{$gconfig.site_url}admin/-parts/a_settings/read/">Инфо о сайте</a></li>
        </ul>
        <span class="m"><!-- --></span>
        <span class="l"><!-- --></span>
    </div><!-- .dropdown-wrap -->
</div><!-- .menu -->