{% extends 'wf_layout.html' %}

{% block content %}
    <div id="middle">
        <div class="left-part">
            <div class="block">
                <div class="header">
                    <h2>
                        {{ page.title }} (<a href="/admin/pages{{ page.url }}/information">инфо</a>) 
                    </h2>
                    <a href="/admin/pages{{ page.url }}/widgets/new" class="action add">Добавить</a>
                </div><!-- .header -->
                <ul>
					{% for page_widget in page.page_widgets %}
					<li><a href="/admin/pages{{ page.url }}/widgets/{{ page_widget.id }}">{{ page_widget.title }}</a></li>
					{% endfor %}
				</ul>
            </div><!-- .block -->
        </div><!-- .left-part -->
    </div><!-- #middle -->
{% endblock %}