<tr>
	<th scope="row">{$field.translation}:</th>
	<td>
		<input type="password" id="{$field.field}" name="{$field.field}" value="{$field.value}" />
		<p style="width: 400px; font-size: .75em; color: #242428; line-height: 2em;"><strong>При добавлении:</strong> писать пароль обязательно.</p>
		<p style="width: 400px; font-size: .75em; color: #242428;"><strong>При редактировании:</strong> если нужно сменить пароль &mdash; напишите сюда новый. Если менять пароль не требуется, оставьте поле пустым.</p>
	</td>
</tr>