<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="X-UA-Compatible" content="IE=8" />

	<title>Web2Face</title>

	<meta name="author" content="" />
	<meta name="robots" content="index,follow" />
</head>

<body>
	<div id="wrap">
		<div id="header">
			
		</div>
		<div id="content">
			{% block content %}

			{% endblock %}
		</div><!-- #content -->
			
		<div id="footer">

		</div><!-- #footer -->
	</div><!-- #wrap -->
</body>
</html>